*, *::before, *::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.App{
    height: 100%;
    width: 100%;
    position: fixed;
    display: flex;
    align-items: center;
    flex-direction: column;
}


body {
    background-color: #FFBFDE;
}
.Grid{
    display: grid;
    justify-content: center;
}

.statsButton{
    position: absolute;
    width: 6.5vh;
    height: 6.5vh;
    background: #FF9CCC;
    border-radius: 10px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    outline: none;
    border: none;
    right: 0%;
    margin: 15px;
    cursor: pointer;
    color: white;
}

.modalBackground{
    position:absolute;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.29);
}