*, *::before, *::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.App{
    height: 100%;
    width: 100%;
    position: fixed;
    display: flex;
    align-items: center;
    flex-direction: column;
}


body {
    background-color: #FFBFDE;
}
.Grid{
    display: grid;
    justify-content: center;
}